pring:
  datasource:
    url: jdbc:h2:mem:cliniflowdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true        # exibe SQL
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
  application:
    name: CliniFlow
server:
  port: 8080